@{
    ViewBag.Title = "AR Index";
    //Layout = ""; //也可以在View內移除Layout
}
<h2>@ViewBag.Title.</h2>

@Html.ActionLink("開啟 ContentAlert1(錯誤方式)", "ContentAlert1") <br />
@Html.ActionLink("開啟 ContentAlert2(正確方式)", "ContentAlert2") 