@model Nullable<double>

@if (Model.HasValue)
{
    int start = int.Parse(Math.Floor(Model.Value).ToString("0"));
    double end = Model.Value - start;

    <span title="@Model.Value">
        @for (int i = 0; i < start; i++)
        {
        @: ⭐
        }

        @if (end > 0)
        {
        @: ★
        }
    </span>
} 