@{  Layout = ""; }

@DateTime.Now

@{

    @:程式碼區塊內的文字

    <span>HTML Tag直接輸出文字</span>

    <text>單純秀文字</text>
}


@{
    int[] list = { 1, 2, 3, 4, 5 };

    foreach (var item in list)
    {
        @item //輸出12345
    }
}

@foreach (var item in list)
{
    @(item.ToString() + " ") //輸出1 2 3 4 5 ToString轉型可以省略
}


<ul>
    @foreach (var item in list)
    {
        <li>@item</li>
    }
</ul> 